{% extends "base.html.twig" %}

{% block metatitle %}
    Liste des catégories | Le blog de la piscine
{% endblock metatitle %}

{% block main %}
    <section class="container my-5">
        <h3 class="mb-4">Il y a {{ categories | length }} catégories actuellement</h3>

        <div class="row">
            {% for category in categories %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card shadow-sm h-100" style="background-color: {{ category.color }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.title }}</h5>
                            <ul class="list-unstyled mt-3">
                                <li>
                                    <a class="btn btn-primary btn-sm" href="{{ path('show_category', {id: category.id}) }}">
                                        Voir la catégorie
                                    </a>
                                </li>
                                <li class="mt-2">
                                    <a class="btn btn-danger btn-sm" href="{{ path('delete_category', {id: category.id}) }}">
                                        Supprimer la catégorie
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock main %}
